@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Exo;
  src: url("../fonts/PT_Sans/PTSans-Regular.ttf");
}
@font-face {
  font-family: PT Sans;
  src: url("../fonts/PT_Sans/PTSans-Regular.ttf");
}
.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.tex-card {
  display: flex;
  padding-top: 109px;
  justify-content: space-between;
}
.tex-card .textleft {
  padding-top: 81px;
}
.tex-card .textleft h3 {
  max-width: 610px;
  width: 100%;
  font-family: Exo;
  font-size: 52px;
  font-weight: 600;
  line-height: 65px;
  color: #363738;
}
.tex-card .textleft p {
  padding: 40px 0px 40px 0px;
  max-width: 525px;
  width: 100%;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #6b6b6c;
}
.tex-card .textleft h5 {
  font-family: PT Sans;
  padding-bottom: 1px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #363738;
  border-bottom: 3px solid #ffce50;
  max-width: 104px;
  width: 100%;
}
.tex-card .cardrigh img {
  max-width: 635px;
  width: 100%;
}

@media (max-width: 1052px) {
  .tex-card {
    flex-direction: column;
    align-items: center;
  }
  .tex-card .textleft {
    padding-top: 81px;
    text-align: center;
    align-items: center;
  }
  .tex-card .textleft h3 {
    max-width: 690px;
    width: 100%;
    text-align: center;
  }
  .tex-card .textleft p {
    max-width: 690px;
    width: 100%;
    text-align: center;
    color: #6b6b6c;
  }
  .tex-card .textleft h5 {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 83px;
  }
  .tex-card .cardrigh img {
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .tex-card {
    flex-direction: column;
    align-items: center;
  }
  .tex-card .textleft {
    padding-top: 81px;
    text-align: left;
    align-items: left;
  }
  .tex-card .textleft h3 {
    max-width: 344px;
    width: 100%;
    font-size: 28px;
    text-align: left;
    line-height: 35px;
  }
  .tex-card .textleft p {
    padding: 0px 0px 32px 0px;
    top: 0;
    max-width: 690px;
    width: 100%;
    text-align: left;
  }
  .tex-card .textleft p span {
    display: none;
  }
  .tex-card .textleft h5 {
    padding-bottom: 4px;
    display: flex;
    justify-content: left;
    text-align: left;
    margin-bottom: 83px;
    margin: 0;
    margin-bottom: 30px;
  }
  .tex-card .cardrigh img {
    max-width: 100%;
    width: 100%;
  }
}
.econ-grup {
  justify-content: space-around;
  display: flex;
  margin-top: 67px;
  max-width: 1240px;
  width: 100%;
  border-radius: 20px;
  background-color: white;
  padding: 30px 20px;
  box-shadow: 0px 4px 20px 0px rgb(134, 134, 134);
  margin-bottom: 67px;
}
.econ-grup .econ-items1 {
  border-right: 2px solid #d4115c;
  border-right: 3px solid #d7d7dd;
  max-width: 328px;
  width: 100%;
  padding: 40px 50px 50px 50px;
}
.econ-grup .econ-items1 img {
  background: transparent;
}
.econ-grup .econ-items1 h4 {
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0;
  max-width: 228px;
  width: 100%;
  font-size: 19px;
  color: #363738;
  font-family: Exo;
}
.econ-grup .econ-items1 .main-tex {
  max-width: 225px;
  width: 100%;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #6b6b6c;
}
.econ-grup .econ-items2 {
  max-width: 270px;
  width: 100%;
  padding: 40px 0px 50px 50px;
}
.econ-grup .econ-items2 h4 {
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0;
  max-width: 228px;
  width: 100%;
  font-size: 19px;
  color: #363738;
  font-family: Exo;
}
.econ-grup .econ-items2 .main-tex {
  max-width: 225px;
  width: 100%;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #6b6b6c;
}

@media (max-width: 1030px) {
  .econ-grup {
    box-shadow: none;
    margin: auto;
    justify-content: space-around;
    display: flex;
    margin: 0 auto;
    margin-top: 67px;
    flex-direction: column;
    gap: 16px;
    max-width: 1240px;
    width: 100%;
    margin-bottom: 67px;
  }
  .econ-grup .econ-items1 {
    margin: auto;
    max-width: 690px;
    width: 100%;
    padding: 40px 50px 50px 50px;
    display: flex;
    gap: 22px;
    border-radius: 20px;
    box-shadow: 0px 4px 20px 0px rgb(134, 134, 134);
  }
  .econ-grup .econ-items1 img {
    background: transparent;
  }
  .econ-grup .econ-items1 h4 {
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0;
    max-width: 690px;
    width: 100%;
    font-size: 19px;
    color: #363738;
    font-family: Exo;
  }
  .econ-grup .econ-items1 .main-tex {
    max-width: 394px;
    width: 100%;
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #6b6b6c;
  }
  .econ-grup .econ-items2 {
    margin: auto;
    display: flex;
    gap: 16px;
    max-width: 690px;
    width: 100%;
    padding: 40px 0px 50px 50px;
    border-radius: 20px;
    box-shadow: 0px 4px 20px 0px rgb(134, 134, 134);
  }
  .econ-grup .econ-items2 h4 {
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0;
    max-width: 690px;
    width: 100%;
    font-size: 19px;
    color: #363738;
    font-family: Exo;
  }
  .econ-grup .econ-items2 .main-tex {
    max-width: 394px;
    width: 100%;
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #6b6b6c;
  }
}
@media (max-width: 486px) {
  .econ-grup {
    box-shadow: 0px 4px 20px 0px rgb(134, 134, 134);
    margin: auto;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 67px;
    flex-direction: column;
    border-radius: 20px;
    max-width: 345px;
    width: 100%;
    margin-bottom: 67px;
  }
  .econ-grup .econ-items1 {
    box-shadow: none;
    margin: auto;
    max-width: 690px;
    width: 100%;
    padding: 40px 20px 50px 20px;
    flex-direction: column;
    border: none;
  }
  .econ-grup .econ-items1 img {
    background: transparent;
    max-width: 68px;
    width: 100px;
  }
  .econ-grup .econ-items1 h4 {
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0;
    max-width: 690px;
    width: 100%;
    font-size: 19px;
    color: #363738;
    font-family: Exo;
  }
  .econ-grup .econ-items1 .main-tex {
    max-width: 394px;
    width: 100%;
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #6b6b6c;
  }
  .econ-grup .econ-items2 {
    box-shadow: none;
    margin: auto;
    flex-direction: column;
    gap: 16px;
    max-width: 690px;
    width: 100%;
    padding: 40px 0px 50px 20px;
    border-radius: 20px;
  }
  .econ-grup .econ-items2 img {
    max-width: 68px;
    width: 100%;
  }
  .econ-grup .econ-items2 h4 {
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0;
    max-width: 690px;
    width: 100%;
    font-size: 19px;
    color: #363738;
    font-family: Exo;
  }
  .econ-grup .econ-items2 .main-tex {
    max-width: 394px;
    width: 100%;
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #6b6b6c;
  }
}
.main-sec-3 .img {
  background: url(../../img/Rectangle\ 7right.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 200px;
  display: flex;
  position: relative;
}
.main-sec-3 .img .tex-box {
  position: absolute;
  margin-top: 200px;
  margin-left: 90px;
  max-width: 362px;
  width: 100%;
  font-family: Exo;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  color: white;
}

.econ_itim {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.icon-1 {
  display: flex;
  gap: 30px;
  padding-top: 62px;
}
.icon-1 h4 {
  font-family: Exo;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  margin: 0;
}
.icon-1 p {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 291px;
  width: 100%;
}

.main-heroo {
  margin-top: 120px;
}
.main-heroo h3 {
  margin: 0;
  font-family: Exo;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  max-width: 687px;
}
.main-heroo p {
  padding-top: 22px;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 627px;
  width: 100%;
  color: #6b6b6c;
}

.blog-grup {
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
  gap: 32px;
}
.blog-grup .blog-1 {
  box-shadow: 0px 10px 20px 0px rgb(134, 134, 134);
  max-width: 393px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 32px;
  padding-bottom: 32px;
}
.blog-grup .blog-1 img {
  max-width: 393px;
  width: 100%;
}
.blog-grup .blog-1 h6 {
  margin: 0;
  padding-top: 24px;
  font-size: 20px;
  padding-bottom: 16px;
}
.blog-grup .blog-1 p {
  max-width: 291px;
  width: 100%;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #6b6b6c;
  padding-bottom: 30px;
}
.blog-grup h5 {
  border-bottom: 3px solid #ffce50;
  width: 80px;
  padding-left: 5px;
  margin: 0;
}

.blog-tex {
  padding-left: 32px;
}

.tab-blog {
  max-width: 1239px;
  width: 100%;
  background-color: #0b7572;
}
.tab-blog .table {
  padding: 28px 32px 40px 32px;
  max-width: 652px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
}
.tab-blog .table-header {
  display: flex;
  padding-bottom: 32px;
  justify-content: space-between;
}
.tab-blog .table-header p {
  max-width: 274px;
  width: 100%;
  font-family: PT Sans;
  font-size: 11px;
  font-weight: 400;
  line-height: 16.5px;
  color: #6b6b6c;
}

table .table2 {
  padding: 20px 0;
}
table .table2 .box {
  background-color: #0b7572;
  height: 50px;
}
table .table2 .box th {
  color: white;
}

.tex-post {
  margin: 0;
  font-family: Exo;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
}

.postavki {
  margin-top: 24px;
  gap: 56px;
  display: flex;
  box-shadow: 0px 10px 20px 0px rgb(134, 134, 134);
  max-width: 1183px;
  width: 100%;
  border-radius: 10px;
}
.postavki .card-img img {
  padding: 32px 0px 32px 96px;
}
.postavki .tex_left h6 {
  padding-top: 32px;
  margin-bottom: 32px;
  margin: 0;
  font-family: Exo;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  color: #363738;
  max-width: 258px;
}
.postavki .tex_left .borr {
  border: 3px solid #ffce50;
  width: 86px;
}
.postavki .tex_left p {
  padding-top: 32px;
  max-width: 568px;
  width: 100%;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #6b6b6c;
}/*# sourceMappingURL=main.css.map */