.econ_itim {
  //   margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.icon-1 {
  display: flex;
  gap: 30px;
  padding-top: 62px;
  h4 {
    font-family: Exo;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    margin: 0;
  }
  p {
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 291px;
    width: 100%;
  }
}
.main-heroo {
  margin-top: 120px;
  h3 {
    margin: 0;
    font-family: Exo;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    max-width: 687px;
  }
  p {
    padding-top: 22px;
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 627px;
    width: 100%;
    color: #6b6b6c;
  }
}
.blog-grup {
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
  gap: 32px;
  .blog-1 {
    box-shadow: 0px 10px 20px 0px rgb(134, 134, 134);
    max-width: 393px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 32px;
    padding-bottom: 32px;
    img {
      max-width: 393px;
      width: 100%;
    }
    h6 {
      margin: 0;
      padding-top: 24px;
      font-size: 20px;
      padding-bottom: 16px;
    }
    p {
      max-width: 291px;
      width: 100%;
      font-family: PT Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #6b6b6c;
      padding-bottom: 30px;
    }
  }
  h5 {
    border-bottom: 3px solid #ffce50;
    width: 80px;
    padding-left: 5px;
    margin: 0;
    // margin-bottom: 32px;
  }
}
.blog-tex {
  padding-left: 32px;
}
//main-sect-7
.tab-blog {
  flex-wrap: wrap;
  padding-top: 85px;
  padding-bottom: 85px;
  padding-right: 66px;
  justify-content: space-between;
  display: flex;
  max-width: 1239px;
  width: 100%;
  background-color: #0b7572;

  .table {
    padding: 28px 32px 40px 32px;
    max-width: 652px;
    width: 100%;
    background-color: white;
    border-radius: 8px;
  }
  .table-header {
    display: flex;
    padding-bottom: 32px;
    justify-content: space-between;
    p {
      max-width: 274px;
      width: 100%;
      font-family: PT Sans;
      font-size: 11px;
      font-weight: 400;
      line-height: 16.5px;
      color: #6b6b6c;
    }
  }
}
table {
  .table2 {
    padding: 20px 0;

    .box {
      background-color: #0b7572;
      height: 50px;
      th {
        color: white;
      }
    }
  }
}
.tex-post {
  margin: 0;
  font-family: Exo;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
}
.postavki {
  margin-top: 24px;
  gap: 56px;
  display: flex;
  box-shadow: 0px 10px 20px 0px rgb(134, 134, 134);
  max-width: 1183px;
  width: 100%;
  border-radius: 10px;
  .card-img {
    img {
      padding: 32px 0px 32px 96px;
    }
  }
  .tex_left {
    h6 {
      padding-top: 32px;
      margin-bottom: 32px;
      margin: 0;
      font-family: Exo;
      font-size: 20px;
      font-weight: 600;
      line-height: 25px;
      color: #363738;
      max-width: 258px;
      //   width: 100%;
    }
    .borr {
      border: 3px solid #ffce50;
      width: 86px;
    }
    p {
      padding-top: 32px;
      max-width: 568px;
      width: 100%;
      font-family: PT Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #6b6b6c;
    }
  }
}
// section

.section-top {
  margin-top: 120px;
  margin-bottom: 20px;
  font-family: Exo 2;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  color: #363738;
  // text-align: left;
}
.text-box {
  font-family: Exo;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  color: #363738;
  margin-bottom: 90px;
}
.econ_text {
  display: flex;
  max-width: 257px;
  width: 100%;
  justify-content: space-between;
  margin-top: 80px;
  .econ-item-1 {
    max-width: 190px;
    width: 100%;
    // border: 2px solid red;
    text-align: center;

    h6 {
      padding-top: 32px;
      margin: 0;
      font-family: Exo;
      font-size: 20px;
      font-weight: 600;
      line-height: 27px;
      color: #363738;
      // text-align: center;
    }
    p {
      font-family: PT Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: #6b6b6c;
    }
  }
  .boredr_righ {
    width: 0;
    height: 180px;
    border: 1px solid #d7d7dd;
  }
}
.econ_bloc {
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
// SECTION

.info_box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  .info_box_card {
    margin-top: 24px;
    // border-left: 51px solid #0b7572;
    // width: 605px !important;
    height: auto;
    width: 580px;
    // max-width: 605px;
    // width: 100%;
    display: flex;
    border-radius: 10px;
    // border: 1px solid red;
    box-shadow: 0px 10px 20px 0px rgb(134, 134, 134);
    overflow: hidden;
    .row {
      width: 40px;
      height: 200px;
      border-left: 51px solid #0b7572;
      // display: flex;
    }
    img {
      max-width: 138px;
      width: 100%;

      padding: 0px 0px 0px 32px;
    }
    .info_box_card_par {
      padding-left: 40px;
      padding-top: 47px;
      h6 {
        margin: 0;
        font-family: Exo;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        color: #363738;
        padding-bottom: 12px;
      }
      p {
        font-family: PT Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: #6b6b6c;
      }
      .celi {
        border: 3px solid #ffce50;
        width: 86px;
        margin-bottom: 8px;
        height: 0;
      }
      .locals {
        padding-top: 29px;
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }
  }
}

// SECTION

.contact-nomer {
  display: flex;
  gap: 26px;
  align-items: center;
  margin-bottom: 20px;
  p {
    font-family: PT Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #6b6b6c;
  }
  h6 {
    margin: 0;
    font-family: Exo;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #363738;
  }
}
.contact-righ {
  max-width: 794px;
  width: 100%;
  border-radius: 5px;
  // border: 1px solid;
  background-color: #f9f9fb;
  .verstca {
    // align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 40px 72px 56px 48px;
    span {
      // padding-right: 160px;
      font-family: Exo;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      text-align: left;
      color: #363738;
    }
    p {
      font-family: PT Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      color: #6b6b6c;
    }
    h6 {
      font-family: Exo;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      color: #363738;
      padding-right: 100px;
    }
    .lorem_nomer {
      margin-right: 40px;
    }
  }
  .hr-grup {
    // padding: 0px 72px 0px 48px;
    margin-left: 48px;
    border: 1px solid #e9eaf2;
    text-align: center;
    width: 674px;
    margin-top: -50px;
  }
}
.table_text {
  padding-left: 81px;
  max-width: 477px;
  width: 100%;
  color: white;
  font-family: Exo;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  // text-align: left;
}

.lout {
  margin-right: 350px;
}
.lout1 {
  margin-right: 352px;
}
.lout2 {
  margin-right: 365px;
}

.lout3 {
  margin-right: 330px;
}
.posiya {
  padding-left: 190px;
}
.loyut0 {
  margin-right: 150px;
}
.contact-grup {
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
}
.nash_contakt {
  font-family: Exo;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
}
.img_foto {
  max-width: 1245px;
  width: 100%;
  margin-top: 46px;
  margin-bottom: 166px;
}
// ul {
//   img {
//     // background-color: #ffce50;
//   }
// }
footer {
  background-color: #0b7572;
}
nav {
  padding-top: 80px;
  display: flex;
  justify-content: space-around;
  ul {
    line-height: 25px;
    .telnomer {
      font-family: Exo;
      font-size: 13px;
      font-weight: 600;
      line-height: 19.5px;
      color: white;
    }
    button {
      color: white;
      font-family: Open Sans, sans-serif;
      font-size: 13px;
      font-weight: 600;
      line-height: 19.5px;
      padding: 7px;
      background-color: #ffce50;
      border: none;
      margin-top: 39px;
    }
    li {
      list-style: none;
      a {
        font-family: Exo;
        font-size: 8px;
        font-weight: 500;
        line-height: 12px;
        letter-spacing: 0.16em;
        text-decoration: none;
        font-family: Exo;
        font-size: 13px;
        font-weight: 500;
        line-height: 19.5px;
        letter-spacing: 0.16em;
        color: white;

        img {
          padding-bottom: 32px;
        }
      }
    }
  }
}
.img-foter {
  padding-bottom: 32px;
}
.footer_boton {
  font-family: Exo;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.16em;
  text-align: center;
  color: white;
  padding-bottom: 29px;
}
.teble {
  margin-top: 32px;
}
@media (max-width: 974px) {
  .tab-blog {
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    margin-left: 50px;
  }
}
@media (max-width: 880px) {
  .blog-grup {
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
    gap: 32px;
    flex-wrap: wrap;
    margin: auto;
  }
}
